<p>tdf works!</p>


    <div class="container">
        <div class="row">
            <div class="col">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                    {{f.value|json}}
                    <div class="form-group">
                        <label for=""> username</label>
                        <input type="text" ngModel name="myusername" 
                            #username="ngModel" required
                            minlength="4"
                            pattern="admin"
                        class="form-control"
                        placeholder="Enter the Username ">

                        <div class="alert alert-danger"
                         *ngIf="username.touched && !username.valid">** Please enter the Username
                        <div *ngIf="username.errors.minlength"> 
                            ** Please enter the minimum length is {{username.errors.minlength.requiredLength}}
                        </div>

                        <div *ngIf="username.errors.pattern">
                            ** Enter the Appropriate pattern

                        </div>

                        </div>


                    </div>

                    <div class="form-group">
                        <label for="">Comment</label>
                        <textarea  ngModel name="comment" 
                        #comment="ngModel"
                        class="form-control"
                         cols="30" rows="10" required>

                        </textarea>

                        <div class="alert alert-danger"
                        *ngIf="comment.touched && comment.invalid"
                        > ** Please Enter the Comment
                        </div>

                    </div> 

                    <div class="checkbox">
                        <label for="mycheck">
                          <input id="mycheck" type="checkbox" 
                          ngModel name="issubscribed" 
                           #mail="ngModel" required> I Agree All the Terms & Conditions.
                        </label>                            
                      </div>

                      <div class="radio">
                        <label for="con">
                          <input ngModel #contact="ngModel" type="radio"
                           name="con" id="con" value="email" required > Email
                        </label>
                      </div>
                    <div class="radio">
                        <label for="con1">
                          <input ngModel #contact="ngModel" type="radio" 
                          name="con" id="con1" value="phone" required > Phone
                        </label> 
                      </div>

                      <div class="form-group">
                        <label for="contact">contact Method</label>
                        <select ngModel name="contact" id="contact" class="form-control"  required>
                        
                            <!-- <option *ngFor="let item of contactMethod"
                          [value]="item.id">{{item.name}} </option> -->
    
                         <option *ngFor="let item of contactMethod"
                          [ngValue]="item">{{item.name}} </option>    
                        </select> 
                      </div>

                      <br>
                    <button [disabled]="!f.valid"
                    class="btn btn-outline-success" >Submit</button>


                </form>

        </div>
        </div>
    </div>